#bannerpic {
	
	float:right;
	margin: 0 100px 10px 10px;
	border-width:10px;
	border-style: inset;
	padding: 5px;
	border-color: black;
	box-shadow: 6px 6px 6px grey;

}


.clearfloat {
	
	clear:both;
}

#banner {
	margin:  0 0 0 50px
	
}

#aboutme {
	font-size: 1.5em;
	background-color:#607D8B;
	border-radius:
}

#aboutme:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
	


#info {
	
	color:purple;
background-color:lightgrey
	
	
}
